.setting-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    label{
        font-size: 15px;
    }
    a{
        font-size: 15px;
        color: blue;
    }
}

.newUser{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color:blue;
    }
}